.vs/
bin/
obj/
Zharskyi Nazar homework.csproj
Zharskyi Nazar homework.sln
Zharskyi Nazar homework 2.sln
Zharskyi Nazar homework 2.csproj
Zharskyi Nazar hw 4.sln
Zharskyi Nazar hw 4.csproj
Zharskyi Nazar Homework 5.sln
Zharskyi Nazar Homework 5.csproj